html, body {
    background-color: #eee;
}

body {
    padding-top: 50px;
}

footer p {
    text-align: center;
	margin-top: 17px;
	padding-top: 17px;
	border-top: 1px solid #eee;
}

#login {
  padding: 15px 20px 15px 20px;
  background: rgba(166, 156, 141, 0.12);
  margin: 30px 0;
  width: 300px;
  height: 200px;
  border-bottom: 1px solid #fff;
  -webkit-box-shadow: 0 1px 1px rgba(166, 156, 141, 0.3) inset;
  -moz-box-shadow: 0 1px 1px rgba(166, 156, 141, 0.3) inset;
  -o-box-shadow: 0 1px 1px rgba(166, 156, 141, 0.3) inset;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -o-border-radius: 2px;
}
